/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.class-select-cb.cb-include {
    --col: rgb(0, 128, 0);
    --bg-col: rgba(0, 128, 0, 20%);
}

.class-select-cb.cb-exclude {
    --col: rgb(85%, 0%, 0%);
    --bg-col: rgba(85%, 0%, 0%, 20%);
}

.class-select-cb {
    color: var(--col) !important;
}

.class-select-cb.class-checked {
    background-color: var(--bg-col) !important;
}

.tag-edit-nested-tag {
    border-radius: 8px;
    padding-inline: 12px;
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

.tag-edit-nested-tag.tag-edit-cancel-delete {
    cursor: pointer;
    transition: 0.25s;
}

.tag-edit-nested-tag.tag-edit-cancel-delete:hover {
    background-color: hsl(120, 100%, 92%);
}

.main-grad {
    background-image: linear-gradient(45deg, #008800AA, #0000CCAA);
}

.auth-main-header {
    width: fit-content;
    margin: 30px auto -20px !important;
    padding: 12px 25px 14px 20px;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 0px rgba(34, 60, 80, 0.5);
    cursor: default;
}

.main-header {
    width: 100%;
    height: 64px;
    padding: 16px 32px;
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-key-a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(28, 28, 205);
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: -10px;
}

.head-link-cont > a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.head-link-cont > a:hover {
    text-decoration: underline;
}

.selected-count-info {
    margin-left: 12px !important;
    font-style: italic;
    color: #666666;
    translate: 0 1px;
}

.comparison-selected-tags {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin: 12px 4px 18px;
}

.comparison-selected-tags * {
    font-size: 24px;
}

.comparison-selected-tags .p3, .comparison-selected-tags .p5 {
    color: grey;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
    padding-inline: 3px;
    border: 1px solid white;
    cursor: pointer;
}

.comparison-selected-tags .p3:hover, .comparison-selected-tags .p5:hover {
    border: 1px solid rgb(179, 179, 179);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.comparison-selected-tags .p2 {
    color: rgb(10, 10, 143);
    text-decoration: underline;
}

.comparison-selected-tags .p4 {
    color: rgb(112, 5, 5);
    text-decoration: underline;
}

.comparison-table * {
    font-size: 20px !important;
}

.comparison-pie * {
    font-size: 20px !important;
}